

body{
  background-color: #e8dc00;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
img{
  height: 200px;
}

.downloaded{
  color:white;
  background: grey;
  border-radius: 5px;
  font-style: italic;
  font-weight: 900;
  width: 130px;
  padding: 2px;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 60%;
  margin: auto;
}

.card{
  text-align: center;
}

.row{
  text-align: center;
}
